@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1440px; /* Adjust width to your desired maximum */
  margin: 0 auto; /* Center the content */
  padding: 0 16px; /* Add some padding for responsiveness */
}
